.img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  max-height: 150px;
}

.wrappedService {
  background-color: #433838;
  height: 150px;
}

.paragraf {
  font-size: 0.7rem;
  margin-top: 1.5rem;
}
