.message {
  box-shadow: 0 0 5px rgb(34, 28, 28);
  font-size: 0.88rem;
  padding: 0.4rem 0.4rem;
  border-radius: 5px;
  word-wrap: break-word;
  width: 100%;
}

.message_body {
}

.messageMe {
  background-color: rgb(247, 247, 247);
  color: black;
}

.messageOuther {
  color: black;
}

.userName{
  font-size: smaller;
  color: black;
}

.time{
  font-size: 0.6rem;
  width: 300px;
}

.privacyMessage{
  box-shadow: 0 0 5px red;
}
