.message {
  font-size: 0.6rem;
  margin: 0;
  width: 85%;
}

.message_body {
  box-shadow: 0 0 5px rgb(34, 28, 28);
  padding: 0.2rem 0.2rem;
  border-radius: 5px;
  word-wrap: break-word;
  width: 100%;
}

.message span{
  color: black;
}

.messageMe {
  background-color: rgb(247, 247, 247);
  color: black;
  
}

.messageOuther {
  color: black;
}

.userName{
  font-size: smaller;
  color: black;
  font-size: 0.6rem;
}

.time{
  font-size: 0.6rem;
}

.privacyMessage{
  box-shadow: 0 0 5px red;
}
