.base{
    border-radius: 10px;
    margin-left: 20px;
    padding: 0rem 0.5rem;
    overflow: hidden;
}

.input:focus{
    outline: none;
    background-color: rgb(229, 229, 229);
}

.input{
    padding-left: 0.5rem;
}

.input::placeholder{
   font-size: 0.9rem;
}

.input:focus{
    background-color: white;
}


.input{
    border: none;
    color: black;
    width: 100%;
    font-size: 1rem;
}

.icon{
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    color: black;
    width: 8%;
}


.warning{
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    color:#ff5777;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.base .bi::before, [class^="bi-"]::before,.base [class*=" bi-"]::before {
    display: block;
  }








