.wrappedMenu{
    position: fixed;
    background-color: #00000040;
    height: 100vh;
    right: 0;
    top:0;
    overflow: hidden;
    transition: transform 200ms linear;
    transform: translateX(100%);
    display: none;
}


.user_icon{
    color: black;
    font-size: 4rem;
}

.name_surname{
    color: black;
    margin-top: 0.5rem;
}

.exit{
    color:black;
    cursor: pointer;
}

.base_buttons .link{
    border: none;
    outline: none;
    transition: .2s linear;
    padding: 0.5rem 0;
    text-decoration: none;
    background-color: #C4C4C4;
}

.base_buttons .link div{
    justify-content: center;
}

.base_buttons .link:hover{
    border: none;
    outline: none;
    background-color: #ffffff50;
}

.base_buttons .link:hover span{
    color:white;
}

.base_buttons .link:hover i{
    color:white;
    font-size: 2rem;
}

.base_buttons .link span{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}

.base_buttons .link i{
    color: black;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}


