.card {
  height: 130px;
  width: 200px;
  background-color: rgb(80, 79, 79);
  position: relative;
   -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.profil_img {
  height: auto;
  width: auto;
}
.option {
  position: absolute;
  top: 8px;
  right: 8px;
}

.drop{
  position: fixed !important;
  z-index: 1 !important;
  background-color: rgba(128, 128, 128, 0.8) !important;
}
.name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: wheat;
  background-color: rgb(37, 29, 29);
}

li:active{
 background-color: fade-in($color: rgb(85, 84, 84), $amount: 1) !important;
}

.video{
  object-fit: contain;
  height: 100%;
  width: 100%;
}